* {
	padding: 0;
	margin: 0;
	color: #999;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;	
}

body {
	font-family: sans-serif;	
}
nav {
	background: #5434af;
	height: 80px;
	width: 100%;
}
label.logo {
	float: left;
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active, a:hover {
	background: #1d075f;
	transition: .5s;
}

/* botao */
.menu-checkbtn {
	font-size: 30px;
	color: white;
	float: left;
	line-height: 80px;
	margin-left: 40px;
	cursor: pointer;
	display: none;
}
#menu-check {
	display: none;
}

#menu-check:checked ~ ul {
	left: 0;
}

.menu-checkbtn {
	display: block;
}
/* 
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
} */

@media (max-width: 858px){
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #1d075f;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
}


.container-maior {
	width: 100%;
	background-color: #ededed;
} 

.product-grid {
	display: table;	
	width: 1102.5px;
	height: auto;
	/*max-width: 360px; /* limit the container width to 4x5 grid */
	margin: 0 auto; /* center the container horizontally */
	border: 1px solid #bbb; /* add a border */
	padding: 10px; /* add some padding inside the border */
	background-color: #fff;
  }
  
  
.item {
	width: 240px;
	height: 370px;
	border: 2px solid #bbb;
	border-radius: 10px;
	background-color: #fff;
	margin: 15px;
	float:left
}


img.item-img {
	width: 170px;
	height: 170px;	
	margin: 10px 35px;
}


input {
	display: contents;
}

h3.item-title {
	margin-left: 8px;
	font-size: 20px;
}

.roundBtn {
	width: 82px;
	height: 82px;
	margin: 8px 8px 0px 8px;
}
.AddCartimg {
	margin-left: 42px;
}
price {
	display: inline-block;
	width: 240px;
	text-align: center;
	font-size: 40px;
}