* {
	padding: 0;
	margin: 0;	
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;	
}

body {
	font-family: sans-serif;	
}
nav {	
	background: #fff;
	height: 85px;
	width: 100%;
	box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.25);
	position: fixed;
	display: table;
}

.menu-checkbtn img {
	width: 43px;
	height: 43px;
	margin: 20px 38px 18px;
	filter:drop-shadow(0px 2.5px 2.5px  rgba(0, 0, 0, 0.25));
}


label.logo img{
	float: left;
	width: 220px;
	height: 58px;
	margin: 13.5px 8px;
}

.navbtn {
	float: right;
	width: 319px;
	height: 58px;
	border-radius: 26px;
	border: 2px solid #720000;
	margin: 11.5px 30px 11.5px 0px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	-webkit-text-stroke: #720000 1.5px;
	display: table;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.navbtn p {
	float: left;
	margin: 12px 0px 12px 26px; 
	line-height: 34px;
	letter-spacing: 1.5px;
}
.navbtn img {
	float: right;
	margin: 8px 26px 8px 0px;
	height: 42px;
}

/* botao */
.menu-checkbtn {
	float: left;
	display: none;
}
#menu-check {
	display: none;
}

#menu-check:checked ~ ul {
	left: 0;
}

.menu-checkbtn {
	display: block;
}
/* 
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
} */

@media (max-width: 858px){
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #1d075f;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
}


.container-maior {
	color: #999;
	width: 100%;
	background-color: #ededed;
	padding: 85px 0px 0px;
} 

.product-grid {
	display: table;	
	width: 1104.5px;
	height: auto;
	/*max-width: 360px; /* limit the container width to 4x5 grid */
	margin: 0 auto; /* center the container horizontally */
	border: 2px solid #bbb; /* add a border */
	border-top: 0px;
	border-bottom: 0px;
	padding: 10px; /* add some padding inside the border */
	background-color: #fff;	
  }
  
  
.item {
	width: 240px;
	height: 370px;
	border: 2px solid #bbb;
	border-radius: 10px;
	background-color: #fff;
	margin: 15px;
	float:left
}


img.item-img {
	width: 170px;
	height: 170px;	
	margin: 10px 35px;
}


input {
	display: contents;
}

h2 {
	font-weight: 400;
	font-size: 30px;
	margin: 8px;
}

h3.item-title {
	margin-left: 8px;
	font-size: 20px;
	font-weight: 400;
}

.roundBtn {
	width: 82px;
	height: 82px;
	margin: 8px 8px 0px 8px;
}
.AddCartimg {
	margin-left: 42px;
}

.price {
	display: inline-block;
	width: 240px;
	text-align: center;
	font-size: 40px;
}

footer {
	border-top: solid 2px #720000;
	background-color: #c92828;
	color: #fff;
	width: 100%;
	font-size: 30px;
}

footer ul, footer a {
	width: 1102.5px;
	margin: 0px auto;
	padding: 30px 0px 0px;	
}

footer a, footer a:hover, footer a:active {
	display: block;
	color: #fff;
	padding-bottom: 40px;
}

footer li {
	width: 1102.5px;
	display: table;
	padding: 4px 30px;
}

.pleft {
	float: left;
}

.pright {
	float: right;
}