* {
	padding: 0;
	margin: 0;	
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;	
}

body {
	font-family: sans-serif;	
}

nav {	
	background: #fff;
	height: 85px;
	width: 100%;
	box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.25);
	position: fixed;
	display: table;
}

.menu-checkbtn img {
	width: 43px;
	height: 43px;
	margin: 20px 38px 18px;
	filter:drop-shadow(0px 2.5px 2.5px  rgba(0, 0, 0, 0.25));
}

label.logo img{
	float: left;
	width: 220px;
	height: 58px;
	margin: 13.5px 8px;
}

.navbtn {
	float: right;
	width: 319px;
	height: 58px;
	border-radius: 26px;
	border: 2px solid #720000;
	margin: 11.5px 30px 11.5px 0px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	-webkit-text-stroke: #720000 1.5px;
	display: table;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.navbtn p {
	float: left;
	margin: 12px 0px 12px 26px; 
	line-height: 34px;
	letter-spacing: 1.5px;
}

.navbtn img {
	float: right;
	margin: 8px 26px 8px 0px;
	height: 42px;
}

/* botao */
.menu-checkbtn {
	float: left;
	display: block;
}

input {
	display: contents;
}

.container-maior {
	color: #999;
	width: 100%;
	background-color: #ededed;
	padding: 85px 0px 0px;
} 

.product-grid {
	display: table;	
	width: 1104.5px;
	height: auto;
	margin: 0 auto; 
	border: 2px solid #bbb; 
	border-top: 0px;
	border-bottom: 0px;
	padding: 10px; 
	background-color: #fff;	
  } 
  
.item, .addCart{
	width: 240px;
	height: 370px;
	border: 2px solid #bbb;
	border-radius: 10px;
	background-color: #fff;
	margin: 15px;
	float:left
}

img.item-img {
	width: 170px;
	height: 170px;	
	margin: 10px 35px;
}

h2 {
	font-weight: 400;
	font-size: 30px;
	margin: 8px;
}

h3.item-title {
	margin-left: 8px;
	font-size: 20px;
	font-weight: 400;
}

.roundBtn {
	display: inline-block;
	width: 82px;
	height: 82px;
	margin: 8px 8px 0px 8px;
}

.AddCartimg {
	margin-left: 42px;
}

.price {
	display: inline-block;
	width: 240px;
	text-align: center;
	font-size: 40px;
}

.addCart img{	
	width: 50%;
	margin: 100px 25% 10px;
}

.addCart p{
	text-transform: capitalize;
	text-align: center;
}

footer {
	border-top: solid 2px #720000;
	background-color: #c92828;
	color: #fff;
	width: 100%;
	font-size: 30px;
}

footer ul, footer a {
	width: 1102.5px;
	margin: 0px auto;
	padding: 30px 0px 0px;	
}

footer a, footer a:hover, footer a:active {
	display: block;
	color: #fff;
	padding-bottom: 40px;
}

footer li {
	width: 1102.5px;
	display: table;
	padding: 4px 30px;
}

.pleft {
	float: left;
}

.pright {
	float: right;
}

#addItemDiv {	
	position: fixed;
	width: 1102.5px;
	height: 70%;
	top: 142px;
	left: calc((100vw - 1102.5px)/2);
	background-color: rgba(255, 255, 255, 0.8);
	border: #999 solid 2px;
	border-radius: 40px;
	backdrop-filter: blur(4px);
	padding: 40px;
	display: table;
}

/*usar vh*/
.addItemTitle, .addItemTitle::selection{
	width: 1022.5px;
	height: 70px;
	background-color: rgba(0, 0, 0, 0);
	border: #999 2px solid;			
	display: block;
	outline: none;
	font-size: 49px;
	color: #999;
	padding-left: 15px;
	text-overflow: ellipsis;
}

.itemLeft {	
	width: 400px;
	height: 420px;
	float: left;
	margin-left: 20px;	
}

#addItemImgLabel {
	display: inline-block;
	width: 300px;	
	height: 300px;
	border: #999 solid 2px;
	border-radius: 40px;
	margin: 20px;	
}

#addItemImgLabel p{
	display: inline-block;
	width: 300px;	
	height: 300px;
	text-align: center;
	text-transform: uppercase;
	line-height: 300px;
	color: #999;		
	font-size: 36px;	
}

#addItemPrice, #addItemPrice::selection {
	width: 340px;
	height: 80px;
	background-color: rgba(0, 0, 0, 0);	
	border: #999 solid 2px;
	color: #999;
	font-size: 48px;
	text-align: center;
	margin-top: 30px;
	outline: none;
}

.itemRight {	
	width: 600px;
	height: 420px;
	padding: 20px;
	padding-bottom: 0px;
	float: right;		
}

#addItemDescLabel {
	font-size: 30px;
	color: #999;
}

#addItemDesc, #addItemDesc::selection{
	line-height: normal;
	outline: none;
	text-align: left;
	width: 100%;
	height: 210px;
	background-color: rgba(0, 0, 0, 0);
	color: #999;
	border: #999 2px solid;	
	overflow: scroll;
	margin-bottom: 10px;
}

#addItemQtdStockLabel, #QtdSold, #addItemCateLabel {
	color: #999;
}

#addItemQtdStock , #addItemQtdStock::selection {
	display: inline-block;
	outline: none;
	background-color: rgba(0, 0, 0, 0);
	border: #999 2px solid;
} 

#addItemCate {
	background-color: rgba(0, 0, 0, 0);
	border: #999 solid 2px;
	border-radius: 10px;
	padding-left: 10px;
	color: #999;
}

#addItem {	
	height: 80px;
	margin: 35px auto 0px;
}

#addItem , #addItemPrice, #addItemDesc{
	display: block;	
}
@media (max-width: 1150px){
	.navbtn {
		float: right;		
		width: fit-content;
		height: 42px;
		border-radius: 0;
		border: none;						
		display: table;
		box-shadow: none;
	}
	
	.navbtn p {
		display: none;
	}
	
	.navbtn img {
		float: right;
		margin: 8px 26px 8px 26px;
		height: 42px;
		filter: drop-shadow(0px 2.5px 2.5px  rgba(0, 0, 0, 0.25));
	}
	
	.product-grid {		
		width: 834.5px;	
	}

	#addItemDiv{
		width: 834.5px;
		left: calc((100vw - 834.5px)/2);
		padding: 20px;
		border-radius: 20px;	
		height: 460px;	
	}
	
	.addItemTitle{
		width: 790.5px;
		height: 56px;
		padding-left: 12px;
		font-size: 40px;
	}

	.itemLeft{
		margin-left: 16px;
		width: 280px;	
		height: 380px;	
	}

	#addItemImgLabel {
		width: 240px;
		height: 240px;
		border-radius: 20px;
		margin: 16px;
	}

	#addItemImgLabel p  {		
		width: 240px;	
		height: 240px;		
		line-height: 240px;			
		font-size: 28px;
	}

	#addItemPrice {
		width: 276px;
		height: 64px;
		font-size: 40px;
		margin-top: 24px;
	}

	.itemRight {
		width: 480px;
		height: 380px;
		padding: 16px 10px 0px;
	}

	#addItemDescLabel {
		font-size: 24px;
	}

	#addItemDesc {
		height: 168px;

	}

	#addItem {
		height: 64px;
		margin: 12px auto 0px;
	}

	footer ul, footer a {
		width: 834.5px;		
	}

	footer li {
		width: 834.5px;
	}
} 

@media (max-width: 900px) {
	nav {
		display: inline-block;
		text-align: center;
		z-index: 1;
	}
	label.logo img {
		position: fixed;
		width: 30%;
		left: 35vw;
		height: 7.91vw;
		margin: calc((85px - 7.91vw)/2) 0px;
	}
	.menu-checkbtn img {
		position: fixed;		
	}
	.navbtn img {
		float: right;
		margin: 8px 4px 8px 4px;
		height: 42px;		
	}

	.product-grid {		
		width: 100%;
		padding: 0px;
	}

	.item , .addCart{
		--px: calc(100vw/108);
		width: 44.43vw;
		height: 66.66vw;
		border: 2px solid #bbb;
		border-radius: 2vw;
		margin: 2.5vw;		
	}

	.addCart img{
		margin: 18.5vw 25% 10px;
	}

	.addCart p {
		font-size: 3.70vw;
	}

	img.item-img {
		width: 31.47vw;
		height: 31.47vw;
		margin: 1.85vw 6.48vw;	
	}	

	h3.item-title {
		margin-left: 1.48vw;
		font-size: 3.70vw;
		font-weight: 400;
	}

	.roundBtn {
		width: 15.18vw;
		height: 15.18vw;
		margin: 1.48vw 1.48vw 0px 1.48vw;
	}

	.AddCartimg {
		margin-left: 7.61vw;
	}

	.price {
		display: inline-block;
		width: 44.43vw;
		text-align: center;
		font-size: 7.405vw;
	}

	#addItemDiv{
		position: absolute;	
		z-index: 0;
		top: 130px;	
		width: 100%;
		left: 0;		
		padding: 20px;
		border-radius: 20px;					
		height: 80%;
		overflow-y:auto;			
	}
	

	.addItemTitle{
		width: 94%;	
		margin: 0 auto;
	}

	.itemLeft{		
		width: 94%;	
		height: auto;	
		float: none;
		margin: 0 auto;
		text-align: center;
	}

	#addItemImgLabel {
	
		display: inline-block;
		width: 85vw;
		height: 85vw;
		border-radius: 20px;
		margin: 20px auto;
	}

	#addItemImgLabel p  {		
		width: 85vw;
		height: 85vw;
		line-height: 85vw;		
		font-size: 10vw;
	}

	#addItemPrice {
		width: 94%;
		height: 64px;
		font-size: 40px;
		margin: 5px auto;
	}

	.itemRight {
		float: none;
		width: 100%;
		height: auto;
		padding: 0px;
	}

	#addItemDescLabel {
		font-size: 24px;
	}

	#addItemDesc {
		height: 168px;				
	}

	#addItem {
		width: 100%;
		height: auto;
		margin: 160px auto 0px;
	}

	footer ul, footer a {
		width: 100%;
		padding-left: 5%;		
	}

	footer li {
		font-size: 25px;
		width: 80%;
		margin: auto;
	}
}

@media (max-width: 690px) {
	.navbtn {
		margin-right: 20px;
	}

	footer ul {
		font-size: 20px;
	}
	footer li, footer a{
		font-size: 18px;
	}

}
